### Coding AI Tool ###
/.claude/CLAUDE.local.md
/.claude/settings.local.json

### Docker ###
docker-compose.override.yml

### Generated Objects ###
**/generated/**
/uploads/

### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Redis ###
redis.*

### Secrets & Environment ###
.env
.env.local
gradle.properties

### Spring Boot ###
HELP.md
application-local.yml
application-secrets.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/bin/

### VS Code ###
.vscode/